$desktopWidth: 1200px;
$mobileWidth: 320px; 
$spacingHeight: 1.5em;
$spacingWidth: 10px;


$desktopWidthFontSize1: 21pt;
$desktopWidthFontSize2: 24pt;
$desktopWidthFontSize3: 23pt;
$desktopWidthFontSize4: 32pt;
$desktopWidthFontSize5: 15pt;

$translucentGrey: transparentize(#454545, 0.1);
$frameGrey: #f5f5f5;
$line_BulletRed: #c40045;
$footer_FontRed: #9f173d;
$checkboxLabelPink: #febed5;
$checkboxPink: #fbb6ce;

$checkboxFontSize: 15px;

.freightFontItlaic {
    font-family: freight-big-pro, serif;
    font-weight: 400;
    font-style: italic;
}

.freightFontSemibold {
    font-family: freight-display-pro, serif;
    font-weight: 600;
    font-style: normal;
}

.futuraPTFont {
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.centerAlign {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.uppercase {
    text-transform: uppercase;
}

.redText {
    color: $footer_FontRed;
}

body {
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
    position: relative;
}

h1 {
    text-align: center;
}

.pageContent {
    text-align: left;
}

.popOver {
    @extend .centerAlign;

    background-color: $translucentGrey;
    width: 100%;
    height: 100%;

    overflow-x: hidden;
    position: relative;

    // rectangle frames
    .rectangleFrame {
        width: 20%;
        border: solid  6px $frameGrey;
    }

    .rectangleFrame:first-child {
        position: absolute;
        top: $spacingHeight * 3;
        height: 37%;
        z-index: 1;
    }

    .rectangleFrame:last-child {
        height: 55px;
        margin-top: $spacingHeight * -5.5;
        margin-bottom: $spacingHeight * 3;
    }

    // images
    .overlayImg {
        position: absolute;
    }

    .chiselImg {
        margin-left: -80%;
        margin-top: 30%;
    }

    .shavingsImg {
        margin-right: -73%;
        margin-top: -90%;
    }

    .frame {
        @extend .centerAlign;

        padding: 5px;
        border: white solid 1px;
        width: 70%;
        margin-top: $spacingHeight * 4;
        margin-bottom: $spacingHeight * 4;
    }

    #popOverContent {
        width: 100%;
        height: 100%;

        @extend .centerAlign;

        background-color: white;
        border: black 1px solid;

        // invite text + image
        main {
            @extend .centerAlign;
            z-index: 2;

            .cancelButton {
                color: $line_BulletRed;
                border: none;
                background-color: rgba(255,255, 255, 0);

                margin-left: auto;
                margin-right: $spacingWidth * 2;
                margin-top: $spacingHeight;
                cursor: pointer;
            }

            h1, h2 {
                margin-bottom: $spacingHeight;
            }

            .inviteFirstLine {
                margin-top: $spacingHeight * 2;
                line-height: $spacingHeight;
            }

            .emphasis {
                @extend .freightFontItlaic;
            }

            .largeText {
                font-size: 10vw;
            }

            hr {
                margin: $spacingHeight 0 $spacingHeight 0;
                background-color: $line_BulletRed;
                height: 1px;
                border: none;
                width: 20%;
                text-align: center;
            }

            .inviteDetails {
                text-align: center;
                margin: -$spacingHeight * 2 20% 0 20%;
                line-height: $spacingHeight;
            }

            ul {
                list-style: none;
                margin: 0 $spacingHeight * 2 $spacingHeight * 2;
            }

            li::before {
                color: $line_BulletRed;
                content: "•";
                margin-right: $spacingWidth * 1.25;
            }

            li {
                line-height: $spacingHeight;
            }
        }
  
        // form 
        footer {
            @extend .centerAlign;
            padding: $spacingHeight * 2 $spacingHeight * 2 $spacingHeight * 4;

            background-color: $footer_FontRed;
            color: white;

            p {
                margin-bottom: $spacingHeight;
            }

            .CTAbutton {
                @extend .freightFontSemibold;

                background-color: black;
                color: white;
                border: none;

                height: 7vh;
            }
            
            .CTAbutton:hover {
                background-color: white;
                color: black;
            }
            
            form {
                @extend .centerAlign;

                #formText {
                    display: grid;
                    grid-template-rows: repeat(auto-fit, minmax(0, 1fr));
                    row-gap: $spacingWidth;
                    grid-auto-rows: 1fr;
                }

                ::-webkit-input-placeholder {
                    color: black;
                    @extend .futuraPTFont;
                    padding-left: $spacingWidth;
                }
                  
                :-ms-input-placeholder {
                    color: black;
                    @extend .futuraPTFont;
                    padding-left: $spacingWidth;
                }
                  
                ::placeholder {
                    color: black;
                    @extend .futuraPTFont;
                    padding-left: $spacingWidth;
                }

                input[type=text], input[type=email] {
                    border: none;
                }

                // checkbox + label styling
                #confirmationLabel {
                    line-height: $spacingHeight / 1.25;
                    color: $checkboxLabelPink;
                    margin-top: $spacingHeight;
                    font-size: $checkboxFontSize;

                    display: grid;
                    grid-template-columns: 1fr 5fr;
                    justify-items: end;
                    column-gap: $spacingWidth;
                }

                #confirmationLabel > input{
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    -o-appearance: none;
                    appearance: none;

                    border: solid 1px $checkboxPink;
                    padding: 5px;
                    width: 15px;
                    height: 15px;
                }

                #confirmationLabel > input:checked + span::before {
                    content: '\2713';
                    position: absolute;
                    margin-top: 2px;
                    margin-left: -25.5px;
                }
            }
        }
    }
}

// mobile 
@media screen and (min-width: $mobileWidth) and (max-width: 360px) {
    .popOver {
        .rectangleFrame:first-child {
            height: 19.5%;
        }
    }
}

@media screen and (min-width: 360px) and (max-width: 890px) {
    .popOver {
        .rectangleFrame:first-child {
            height: 32%;
        }   
    }
}

// desktop 
@media screen and (min-width: $desktopWidth) {
    .popOver {
        // images
        .chiselImg {
            margin-left: -81.5%;
            margin-top: 20%;
        }
    
        .shavingsImg {
            margin-top: -40%;
        }

        .rectangleFrame {
            width: 160px;
        }

        .rectangleFrame:first-child {
            height: 410px;
        }

        #popOverContent {
            main {
                .inviteFirstLine, h2, ul, .cancelButton {
                    font-size: $desktopWidthFontSize1;
                }

                h1.emphasis {
                    font-size: $desktopWidthFontSize2;
                }
                
                .largeText {
                    font-size: 70pt;
                }

                p.inviteDetails {
                    font-size: $desktopWidthFontSize3;
                }
    
                hr {
                    width: 30%;
                }
    
                .cancelButton {
                    margin-right: 3%;
                    margin-top: $spacingHeight;
                }
            }
        }

        footer {
            h1 {
                font-size: $desktopWidthFontSize4;
            }

            p {
                font-size: $desktopWidthFontSize3;
            }

            form {                
                .CTAbutton, input[type=text], input[type=email] {
                    font-size: $desktopWidthFontSize1;
                }

                #confirmationLabel {
                    grid-template-columns: 1fr 9fr;
                    width: 70%;
                    font-size: $desktopWidthFontSize5;
                }

                #formText {
                    display: grid;
                    column-gap: $spacingWidth;
                    grid-template-columns: repeat(3, minmax(0, 1fr));

                    grid-template-rows: 0;
                    row-gap: $spacingWidth;
                }
            }
        }
    }
}

@media screen and (min-width: 1347px) and (max-width: 1454px) {
    .popOver {        
        #popOverContent {
            main {
                .cancelButton {
                    margin-right: 1%;
                }
            }
        }
    }
}

@media screen and (min-width: 1458px) {
    .popOver {        
        #popOverContent {
            main {
                .cancelButton {
                    margin-right: 3%;
                }
            }
        }
    }
}